#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.meal-submit-button{
  background-color:#4CAF50;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem ;
  transition: background-color 0.3s;
}
.meal-submit-button:hover:not(:disabled){
  background-color: #45a;
}
.meal-submit-button:disabled{
  background-color: #cccccc;
  cursor: not-allowed;
}
.meal-submit-button.loading{
  background-color: #2E7D32;
}
.spinner{
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 2px solid rgb(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s ease-in-out infinite;
  margin-right: 8px;
}
@keyframes spin{
  to {
    transform: rotate(360deg);
  }
}
