.app-container {
  display: flex;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  gap: 20px;
  height: 100vh;
  flex-direction: column;
}

.add-meal-form-container {
  flex: 1;
  min-width: 400px;
  position: sticky;
  top: 20px;
  align-self: flex-start;
  height: 100vh;
  overflow-y: auto;
}

.meals-list {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    height: auto;
  }
  
  .add-meal-form-container {
    position: static;
    min-width: auto;
    height: auto;
  }
  .meal-holder-container {
      margin-left: 0;
      margin-top: 20px;
      height: auto;
      max-height: 50vh;
    }
}


.top-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom:20px
}

.logout-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #e60000;
}
.content {
  display: flex;
  gap: 20px;
}